*{  
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #454545;
    position: relative;
}
.navbar__list{
    max-width: 1020px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0 auto;
}
.navbar__list-item{
    font-size: 14px;
    margin-top: 15px;
    color: #dadada;
}
.navbar__bottom{
    display: flex;
    justify-content: space-around;
}
.navbar__bottom-list{
    margin-top: 33px;
    list-style: none;
}
.navbar__bottom-list-item1,.navbar__bottom-list-item2{
    display: inline-block;
    font-size: 14px;
    color: #dadada;
}
.navbar__bottom-list-item1{
    font-size: 20px;
    font-weight: bold;
}
.navbar__bottom-list-item2{
    margin-left: 15px;
}
.header__shop{
    display: none;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
    color: #FFFFFF;
    background-color: #454545;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}
.list1,.list2,.list3{
    list-style: none;
    line-height: 1.7;
    
}
.list1{
    font-size: 20px;
    font-weight: bold;
}
.navbar__list-item--active:hover .header__shop{
    display: flex;
    animation: fadein .7s ease-in-out;
    animation-direction: alternate;
}
@keyframes fadein {
    from{
        height: 0px;
    }
    to{
        height: 300px;
    }
}
